{% extends "blog/master.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">Name : {{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary">Username : {{ user.username }}</p>
          <p class="text-secondary">Email : {{ user.email }}</p>
        </div>
      </div>

      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update profile here...</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
